body {
  background-color: red;
}

@keyframes nav-toggle-ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(45,45,45,0.6)
    }

    100% {
        box-shadow: 0 0 0 40px rgba(45,45,45,0)
    }
}

.nav-open .toggle-icon {
    animation: nav-toggle-ripple 0.5s forwards;
}


.toggle-icon {
    border-radius: 200px;
    border: 2px solid #fff;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.toggle-icon span, .toggle-icon:before, .toggle-icon:after {
    display: block;
    background: #fff;
    width: 20px;
    height: 2px;
    transition: opacity 0.3s, transform 0.3s;
}

.toggle-icon:before, .toggle-icon:after {
    content: "";
}


.toggle-icon:before {
    transform-origin: top left;
}

.nav-open .toggle-icon:before {
    transform: translate3d(4px, -1px, 0) rotate(45deg);
}


.nav-open .toggle-icon:after {
    transform: translate3d(4px, 1px, 0) rotate(-45deg);
    transform-origin: bottom left;

}

.nav-open .toggle-icon span {
    opacity: 0;
}

.toggle-icon span {
    margin-top: 4px;
    margin-bottom: 4px;
}
