
@-webkit-keyframes nav-toggle-ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(45,45,45,0.6)
    }

    100% {
        box-shadow: 0 0 0 40px rgba(45,45,45,0)
    }
}

@-moz-keyframes nav-toggle-ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(45,45,45,0.6)
    }

    100% {
        box-shadow: 0 0 0 40px rgba(45,45,45,0)
    }
}

@keyframes nav-toggle-ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(45,45,45,0.6)
    }

    100% {
        box-shadow: 0 0 0 40px rgba(45,45,45,0)
    }
}



.main-nav a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:active, a:hover {
    outline: 0;
}


.nav-open .toggle-icon {
    -webkit-animation: nav-toggle-ripple 0.5s forwards;
    -moz-animation: nav-toggle-ripple 0.5s forwards;
    animation: nav-toggle-ripple 0.5s forwards;
}


.toggle-icon {
    border-radius: 200px;
    border: 2px solid #fff;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.toggle-icon:before {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.toggle-icon span, .toggle-icon:before, .toggle-icon:after {
    display: block;
    background: #fff;
    width: 20px;
    height: 2px;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.toggle-icon:before, .toggle-icon:after {
    content: "";
}


.main-nav__control {
    position: relative;
    z-index: 2;
    text-align: center;
    background: #F70C36;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 60px;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
}

.main-nav__control {
    width: 100%;
    height: 60px;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
}

.nav-open .toggle-icon:before {
    -webkit-transform: translate3d(4px, -1px, 0) rotate(45deg);
    -moz-transform: translate3d(4px, -1px, 0) rotate(45deg);
    -ms-transform: translate3d(4px, -1px, 0) rotate(45deg);
    -o-transform: translate3d(4px, -1px, 0) rotate(45deg);
    transform: translate3d(4px, -1px, 0) rotate(45deg);
}

.nav-open .toggle-icon:after {
    -webkit-transform: translate3d(4px, 1px, 0) rotate(-45deg);
    -moz-transform: translate3d(4px, 1px, 0) rotate(-45deg);
    -ms-transform: translate3d(4px, 1px, 0) rotate(-45deg);
    -o-transform: translate3d(4px, 1px, 0) rotate(-45deg);
    transform: translate3d(4px, 1px, 0) rotate(-45deg);
}
.toggle-icon:after {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
}


.nav-open .toggle-icon span {
    opacity: 0;
}

.toggle-icon span {
    margin-top: 4px;
    margin-bottom: 4px;
}
