body {
  margin: 0;
}


/* banner */

.banner:before {
  content: "";
  display: block;
  height: 300px;
  background-color: #dceefc;
}

.banner-img {
  background-image: url(./img/768-banner.jpg);
  height: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
}
