body {
  margin: 0;
}


@font-face {
  font-family: "UniversLTStd";
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/UniversLTStd-UltraCn.woff) format("woff")
}

/* banner */
.banner {
  position: relative;
  overflow: hidden; /* fix margin-collapse */
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 381px;
  background-color: #dceefc;
}

.banner-img {
  margin-top: 380px;
  background-image: url(./img/768-banner.jpg);
  height: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner .content {
  text-align: center;
  position: absolute;
  font-family: "UniversLTStd", Arial, sans-serif;
  top: 90px;
}

.banner small {
  background-color: #043f8b;
  color: white;
  font-size: 24px;
  line-height: 0.9;
  padding: 5px;
}

.banner p {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.banner p.title {
  font-size: 72px;
  margin: 25px 0;
  line-height: 65px;
}

.banner p.title:after {
  background-color: #043f8b;
  width: 95px;
  height: 1px;
  content: "";
}
